<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MinPlayers" value="20"/>
		<add key="MaxPlayers" value="100"/>
		<add key="MinStartMoney" value="50"/>
		<add key="MaxStartMoney" value="200"/>
		<add key="MinBet" value="1"/>
		<add key="MaxBet" value="50"/>
		<add key="MaxTableSeats" value="5"/>
		<add key="MinSleepMs" value="50"/>
		<add key="MaxSleepMs" value="150"/>
		<add key="RouletteMinNumber" value="0"/>
		<add key="RouletteMaxNumber" value="36"/>
	</appSettings>
</configuration>